@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#downbarHolder {
  background-image: -moz-linear-gradient(#13a400, #002e0c 15%, #002e0c 85%, #13a400);
  border-top: 1px solid #dfd2b7;
}

#downbarprefs {
  background: #002e0c url("chrome://browser/skin/preferences/prefpanel2.png") repeat left top;
}

#aboutdownbar description{
  color: black;
}

#aboutdownbar label{
  color: black;
}

#aboutdownbar  tab {
  -moz-appearance: tab;
  margin-top: 2px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  border-bottom: 1px solid ThreeDHighlight;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 1px 4px 2px 4px;
  background-color: -moz-Dialog;
}
#aboutdownbar  tab label{
  color: -moz-DialogText;
}

#aboutdownbar button {
  -moz-appearance: button;
  -moz-box-align: center;
}
#aboutdownbar .button-box {
  background-image: none;
}

#downbarHolder .db_buttonText {
  color: black;
}
